.body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1366px;
}

img {
  width: 100%;
  height: 100%;
}

h2 {
  color: #00659f;
  font-size: 30px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 40px;
}

.back-to-top {
  position: fixed !important;
  display: none;
  right: 0px;
  bottom: 5px !important;
  z-index: 99;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #fd9915;
  color: #fff;
  transition: all 0.5s ease;
  position: fixed;
  right: 15px;
  bottom: 22px;
}

/* ///////////////////// Header  ////////////////*/

header {
  width: 100%;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.5s ease;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(6, 28, 61, 0.04);
}

header.fixed-header {
  box-shadow: 0 12px 40px 0px rgba(0, 0, 0, 0.2);
}

header .navbar {
  height: 90px;
}

header .navbar {
  padding: 0;
}

.navbar-brand {
  position: absolute;
  margin-right: 20px;
  padding: 3px 0;
  top: 0;
  z-index: 2;
  width: auto;
  display: inline-block;
}

.navbar-brand img {
  height: 80px;
  transition: all 0.5s ease;
}

.ic.menu {
  top: 30px;
  z-index: 20;
}
.ic {
  position: fixed;
  cursor: pointer;
  display: inline-block;
  right: 15px;
  width: 60px;
  height: 40px;
  text-align: center;
  top: 0;
  outline: 0;
}

.ic.menu .line {
  height: 4px;
  width: 100%;
  display: block;
  margin-bottom: 6px;
  background-color: #fd9915;
  transition: all 0.5s ease;
}

ul.navbar-nav {
  z-index: 9;
  padding: 0px;
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  background: #037fc6;
  height: 100%;
  overflow: auto;
  transition-duration: 0.6s;
  transition-property: width;
  flex-direction: column;
  gap: 0;
}

.navbar-collapse.show ul.navbar-nav {
  width: 100%;
  padding: 60px 20px;
}

.ic.menu.open.navbar-toggler span.line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 10px;
  transition: all 0.5s ease;
}

.ic.menu.open .line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -10px;
  transition: all 0.5s ease;
}

.ic.menu.open .line:nth-child(3) {
  transform: translateY(0);
  opacity: 0;
}

.ic.menu.open .line {
  background-color: #fff;
}

.navbar-nav li {
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 28.8px;
}

.navbar-nav li a {
  color: #fff;
}

header ul.social-link.visible-mob {
  display: inline-flex;
  margin-top: 0;
  margin-right: 20px;
  list-style: none;
  padding: 0;
}

.social-link li i.fa {
  font-size: 20px;
}

/*//////////////////////// Banner  ///////////////////////////////*/

.block_banner .image {
  height: 200px;
}

.item {
  position: relative;
}

.banner_text {
  position: absolute;
  bottom: 10px;
  z-index: 1;
}

.banner_text h4 {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.banner_text h1 {
  font-size: 45px;
  line-height: 40px;
  margin-bottom: 1rem;
  color: #fff;
}

.btn-primary {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "Helvetica";
  font-weight: bold;
  height: 46px;
  line-height: 56px;
  border-radius: 0;
  background-color: #fd9915;
  color: #fff;
  border: 1px solid #fd9915;
  padding: 0 2.675rem 0 1.375rem;
}

.btn-primary:after {
  content: "\f105";
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.owl-carousel .owl-nav button.owl-next {
  border-radius: 100%;
  background-color: rgba(217, 217, 217, 0.7);
  position: absolute;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-nav button.owl-prev {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.7);
  position: absolute;
  left: 2px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 25px;
  height: 25px;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 100%;
}

.owl-carousel .owl-nav button.owl-next::before {
  content: ">";
  color: #fff;
  background-size: 100%;
  position: absolute;
}

.owl-carousel .owl-nav button.owl-prev::before {
  content: "<";
  color: #fff;
  background-size: 100%;
  position: absolute;
}

.owl-carousel .owl-nav button.owl-next::before,
.owl-carousel .owl-nav button.owl-prev::before {
  font-size: 15px;
}

.owl-carousel .owl-nav button span {
  display: none;
}

@media screen and (min-width: 992px) {
  .block_banner .image {
    height: 664px;
  }
  
  .banner_text {
    top: 100px;
    left: 15%;
  }

  .banner_text h4 {
    line-height: 45px;
    font-size: 35px;
    font-weight: 400;
  }

  .banner_text h1 {
    font-size: 104px;
    font-weight: 300;
    margin-bottom: 2rem;
    line-height: 100px;
  }

  .block_banner .owl-carousel .owl-nav button.owl-prev{
    left: 10%;
  }

  .block_banner .owl-carousel .owl-nav button.owl-next{
    right: 10%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: -10px;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: -10px;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.7);
    position: absolute;
  }

  .owl-carousel .owl-nav button.owl-next::before,
  .owl-carousel .owl-nav button.owl-prev::before {
    font-size: 20px;
  }

  
}

/* ///////////////////////// Block about  /////////////////////*/

.block_about {
  text-align: center;
  background-color: #f1fdff;
  margin-bottom: 2.375rem;
  margin-top: -7px;
  padding: 16px 0 48px;
}

.block_about h2 span {
  color: #fd9915;
}

.block_about p {
  padding: 0 16px;
  font-size: 15px;
}

.block_about .logo {
  width: 40px;
  height: 36px;
  margin: 0 auto 16px;
}

.block_about .text p {
  font-size: 14px;
  font-weight: 700;
}

.block_about .btn-outline {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "Helvetica";
  font-weight: bold;
  height: 46px;
  line-height: 56px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #fd9915;
  color: #fd9915;
  padding: 0 3.5rem 0 1.75rem;
  margin-top: 24px;
}

.block_about .btn-outline:after {
  content: ">";
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

/* ///////////////////////// What we do //////////////*/
.block_whatwedo {
  margin-bottom: 40px;
}

.block_whatwedo .right_box {
  padding-top: 24px;
}

.block_whatwedo .title h2 {
  margin-bottom: 6px;
}

.block_whatwedo .title p {
  font-size: 14px;
}

.block_whatwedo .what-do-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1086px;
  height: 472px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 78px;
  box-shadow: 0 12px 40px 0px rgba(6, 28, 61, 0.04);
  height: auto;
  width: 100%;
  position: relative;
  bottom: inherit;
}

.block_whatwedo .what-do-list li {
  list-style-type: none;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(94, 98, 130, 0.2);
  font-family: "Helvetica";
  font-weight: bold;
  width: 50%;
}

.block_whatwedo .what-do-list li:nth-child(even) {
  border-right: 1px solid rgba(94, 98, 130, 0.2);
}

.block_whatwedo .what-do-list li + li {
  border-left: 1px solid rgba(94, 98, 130, 0.2);
}

.block_whatwedo .what-do-list li:first-child,
.block_whatwedo .what-do-list li:nth-child(2) {
  border-top: 1px solid rgba(94, 98, 130, 0.2);
}

.block_whatwedo .what-do-list li img {
  height: 40px;
  margin-bottom: 12px;
  width: auto;
  object-fit: contain;
}

.block_whatwedo .what-do-list li p {
  font-size: 13px;
  color: #061c3d;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .block_whatwedo .what-do-list {
    width: 1086px;
    height: 472px;
    position: absolute;
    bottom: 78px;
  }

  .block_whatwedo .what-do-list li {
    width: 25%;
    height: 157px;
  }
}

/* ./////////////////// block visit-places ////////////// */
.visit-places {
  margin-bottom: 40px;
}

.visit-places h2 {
  margin-bottom: 6px;
  text-align: center;
}

.txt-link {
  right: 0;
  transform: none;
  top: inherit;
  position: relative;
  justify-content: flex-end;
  display: flex;
  font-size: 17px;
  font-family: "Helvetica";
  font-weight: bold;
  height: 46px;
  line-height: 56px;
  border-radius: 0;
  color: #fd9915;
  padding: 0 2.5rem 0 0rem;
  height: auto;
  font-size: 1rem;
  line-height: 26px;
}

.txt-link:after {
  content: ">";
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.grid-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 30px;
}

.grid-wrapper figure {
  position: relative;
  background: #000;
  margin: 0;
  overflow: hidden;
}

.grid-wrapper .grid1 figure {
  width: 216px;
  height: 305px;
}

.grid-wrapper .grid2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid-wrapper .grid3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.grid-wrapper .grid2 figure:first-child,
.grid-wrapper .grid2 figure:nth-child(2) {
  width: 96%;
}

.grid-wrapper .grid2 figure:nth-child(2) {
  height: 182px;
}

.grid-wrapper figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.grid-wrapper figcaption {
  position: absolute;
  color: #fff;
  font-size: 1.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease-in-out;
  padding: 0.625rem;
  font-size: 0.875rem;
  bottom: 0;
}

/*//////////////////////// about ////////////*/
.block_about_more .box_more {
  position: relative;
  margin-bottom: 16px;
  height: 380px;
}

.block_about_more .detail {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.block_about_more .detail h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
  font-family: "Playfair Display";
  font-weight: 700;
  margin-bottom: 0;
  color: #f1fdff;
}

.block_about_more .detail p {
  color: #f1fdff;
}

/* /////////////////testimonial ///////// */

.block_testimonial {
  text-align: center;
  padding-bottom: 32px;
}

.block_testimonial .testi-wrapper {
  background: #ffffff;
  box-shadow: 0px 12px 40px rgba(6, 28, 61, 0.04);
  position: relative;
  height: 220px;
  padding: 15px 20px 10px 20px;
}

.block_testimonial .image {
  width: 100px;
  height: auto;
  margin: 0 auto 0.5rem;
}

.btn-primary:after {
  content: ">";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.partners ul {
  margin-bottom: 60px;
}

.partners p,
.partners h2 {
  text-align: center;
}

.partners ul .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.partners ul .image {
  height: 80px;
  width: 150px;
  margin: 0;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 12px 40px rgba(6, 28, 61, 0.04);
}

@media screen and (min-width: 600px) {
  .block_testimonial {
    padding-bottom: 5rem;
    position: relative;
    background-image: url(/images/testibg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .block_testimonial .testi-wrapper {
    height: 256px;
  }
}

@media screen and (min-width: 992px) {
  .block_testimonial .testi-wrapper {
    padding: 30px 28px 10px 28px;
  }
}

/* //////// Footer ////////// */

footer {
  position: relative;
  background: #ededed;
  color: #000;
  padding: 20px 0 20px;
}

footer a {
  color: #000;
  text-decoration: none;
}

footer .footer-list {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

footer li {
  list-style-type: none;
}

footer .footer-list li:first-child .logo {
  display: flex;
  margin: 0 auto 1rem;
  justify-content: flex-start;
}

footer .footer-list li:first-child .logo img {
  width: 160px;
  height: 100px;
}

footer .footer-list li {
  list-style: none;
}

footer .footer-list > li:nth-child(2) {
  width: 100%;
  float: none;
}

ul.inner-list {
  margin: 0;
  padding: 0;
}

ul.inner-list li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 20px;
}

ul.inner-list li span.icon {
  position: absolute;
  left: 0;
}

footer .footer-list li.address-wrapper {
  width: auto;
}

footer .footer-list li.address-wrapper ul.inner-list {
  padding-left: 0;
}

.social-link {
  margin: 0;
  display: flex;
  padding: 0;
}

.social-link li {
  list-style-type: none;
  padding: 0.625rem 1.2rem 0 0;
}

footer .social-link {
  position: relative;
  top: inherit;
  right: inherit;
  margin-left: 0;
}

footer .copyright {
  text-align: center;
  padding: 20px 0 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

footer .copyright ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer .copyright ul li .nav-links {
  margin: 1rem 0;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
