.body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1366px;
}

img {
	width: 100%;
	height: 100%;
}

header {
  width: 100%;
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.5s ease;
}

header.fixed-header {
  box-shadow: 0 12px 40px 0px rgba(0, 0, 0, 0.2);
}

header .navbar {
  height: 90px;
}

header .navbar {
  padding: 0;
}

.navbar-brand {
  margin-right: 20px;
  padding: 3px 0;
  top: 0;
  z-index: 2;
  width: auto;
  display: inline-block;
}

.navbar-brand img {
  height: 80px;
  transition: all 0.5s ease;
}

.ic.menu {
  top: 30px;
  z-index: 20;
}
.ic {
  position: fixed;
  cursor: pointer;
  display: inline-block;
  right: 0px;
  width: 60px;
  height: 40px;
  text-align: center;
  top: 0;
  outline: 0;
}

.ic.menu .line {
  height: 4px;
  width: 100%;
  display: block;
  margin-bottom: 6px;
  background-color: #fd9915;
  transition: all 0.5s ease;
}

ul.navbar-nav {
    z-index: 9;
    padding: 0px;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    background: #037fc6;
    height: 100%;
    overflow: auto;
    transition-duration: 0.6s;
	transition-property: width;
    flex-direction: column;
    gap: 0;
}

.navbar-collapse.show ul.navbar-nav {
    width: 100%;
    padding: 60px 20px;
}

.ic.menu.open.navbar-toggler span.line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 10px;
    transition: all 0.5s ease;
}

.ic.menu.open .line:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
    transition: all 0.5s ease;
}

.ic.menu.open .line:nth-child(3) {
    transform: translateY(0);
    opacity: 0;
}

.ic.menu.open .line {
    background-color: #fff;
}

.navbar-nav li {
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 28.8px;
}

.navbar-nav li a {
    color: #FFF;
}

/* Banner  */

.block_banner .image {
	height: 200px;
}


.item {
	position: relative;
}

.banner_text {
	position: absolute;
	bottom: 10px;
	z-index: 1;
}

.banner_text h4 {
    font-size: 18px;
    line-height: 25px;
	color: #FFF;
}

.banner_text h1 {
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 1rem;
	color: #FFF;
}

.btn-primary {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: "Helvetica";
    font-weight: bold;
    height: 46px;
    line-height: 56px;
    border-radius: 0;
    background-color: #FD9915;
    color: #FFF;
    border: 1px solid #FD9915;
    padding: 0 2.675rem 0 1.375rem;
}

.btn-primary:after {
    content: "\f105";
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}


.owl-carousel .owl-nav button.owl-next {
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgba(217, 217, 217, 0.7);
    position: absolute;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgba(217, 217, 217, 0.7);
    position: absolute;
    left: 2px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    width: 25px;
    height: 25px;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-next::before {
    content: ">";
    color: #fff;
    background-size: 100%;
    position: absolute;
    font-size: 20px;
}

.owl-carousel .owl-nav button.owl-prev::before {
    content: "<";
    color: #fff;
    background-size: 100%;
    position: absolute;
    font-size: 20px;
}

.owl-carousel .owl-nav button.owl-next::before, 
.owl-carousel .owl-nav button.owl-prev::before {
    font-size: 15px;
}

.owl-carousel .owl-nav button span {
    display: none;
}


/* Block about  */
.block_about h2 {
    color: #00659F;
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: 400;
    line-height: 40px;
}

.block_about h2 span {
	color: #FD9915;
}